@tailwind base;
@tailwind components;

@font-face {
  font-family: "Domaine Sans Text";
  src: url(/domaine-sans-text-web-medium.woff2) format("woff2");
}

@font-face {
  font-family: "National 2";
  src: url(/national-2-web-regular.woff2) format("woff2");
}

.btn {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid black;
  padding: 5px 15px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  font-size: 0.875rem;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #faff98;
}

.btn-a:hover,
.btn-a:focus,
.btn-a:active {
  transform: scale(1.1) rotate(4deg);
}

.btn-b:hover,
.btn-b:focus,
.btn-b:active {
  transform: scale(1.1) rotate(-4deg);
}

.btn-c:hover,
.btn-c:focus,
.btn-c:active {
  transform: scale(1.1) rotate(4deg);
}

.btn-d:hover,
.btn-d:focus,
.btn-d:active {
  transform: scale(1.1) rotate(-4deg);
}

.btn-e:hover,
.btn-e:focus,
.btn-e:active {
  transform: scale(1.1) rotate(4deg);
}

.btn:active {
  transform: scale(1.2);
}

/* NB: the url of the background image is defined dynamically in JS */
.HomepageBackground {
  overflow: hidden;
  background-size: 100%;
  height: calc(var(--app-height) - var(--nav-bar-height));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 bottom 0;
  position: relative;
  transition: margin-top 750ms ease 0s;
  margin-top: calc(-1 * var(--app-height) + var(--nav-bar-height));

  /* fixes bad dynamic resizing of my art */
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}

/* portrait phone */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  .HomepageBackground.HomepageIsCurrent,
  .HomepageBackground.HomepageIsLoaded {
    background-image: url("/homepage-phone-1170.webp");
  }
}

:root {
  --nav-bar-height: 85px;
  --headline-font: "Domaine Sans Text", sans-serif;
  --body-font: "National 2", sans-serif;
  --brightYellow: #faff98;
  --yellow: #f2f1a0;
  --purple: #d0abc5;
  --salmon: #f0999e;
  --green: #8bdad5;
  --dark-green: #78c6c0;
  --blue: #89aee0;
  --dark-blue: #6b8fbf;
  --hpPurple: rgb(59, 59, 104);
  /* this gets dynamically updated by js, so safari can have a full-height page */
  --app-height: 100vh;
  /* 
    separate this from bg-color because during page transition, we set nav-color
    during the transition but we leave bg-color to change later
  */
  --nav-bar-color: var(--bg-color);
}

body {
  background: var(--dark-bg-color) url(/yellow-texture.png);
  background-size: 800px 800px;
  font: 1rem / 1.6 var(--body-font);
}

/* hack to keep the logo in the same place when user chooses a new page */
html {
  width: 100vw;
  overflow-x: hidden;
}

/* 
prevent scrolling on homepage since it has no scroll bars
this is especially nice on mobile but is useful on all platforms
*/
.WrapperHomepageIsCurrent {
  --nav-bar-color: var(--hpPurple);
}

.BodyHomepageIsCurrent {
  overflow: hidden;
}

.MaxWidth {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
}

.Grid {
  display: grid;
}

.nav {
  height: var(--nav-bar-height);
  overflow-x: hidden; /* todo remove once nav is simplified */
  transition: background 750ms ease 0s;
}

.Card {
  background: #fff;
  border: 28px solid var(--yellow);
  padding: 50px;
  width: 66%;
  position: relative;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  font: 18px/1.6 var(--body-font);
}

.FirstCard {
  margin-top: calc(-128px / 2 - 50px);
}

.PageHeader {
  width: 100%;
  height: 60vh;
  min-height: 25rem;
  position: relative;
  background: var(--hero-url);
  background-size: cover;
  background-position: center;
  border-bottom: 128px solid var(--bg-color);
}

.PageHeadline {
  background: var(--bg-color);
  font: 32px/1.8 var(--headline-font);
  padding: 20px 35px;
  place-self: center start;
  margin-left: 5rem;
  /* text-align: center; */
  /* border: 4px solid var(--dark-bg-color); */
  /* box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1); */
}

.PageHeadline-Small {
  display: block;
  font-size: 20px;
}

.ContentBlock {
  width: 100%;
  place-self: stretch start;
  display: grid;
  margin: 0 auto;
  position: relative;
}

.HomepageIsCurrent {
  margin-top: 0;
}

.Content {
  width: 100%;
  padding: 50px;
}

@tailwind utilities;
