@tailwind base;
@tailwind components;

/* Radial Out */
.btnx {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.btnx:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.35) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.btnx:hover,
.btnx:focus,
.btnx:active {
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  /* move the element up by 2px */
}
.btnx:hover:before,
.btnx:focus:before,
.btnx:active:before {
  opacity: 1;
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  /* move the element down by 2px (it will stay in place because it's attached to the element that also moves up 2px) */
}

.btn {
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.2s;
  transition-property: transform;
}
.btn:hover,
.btn:focus,
.btn:active {
  background-color: #faff98;
}

.btn-a:hover,
.btn-a:focus,
.btn-a:active {
  transform: scale(1.1) rotate(4deg);
}

.btn-b:hover,
.btn-b:focus,
.btn-b:active {
  transform: scale(1.1) rotate(-4deg);
}

.btn-c:hover,
.btn-c:focus,
.btn-c:active {
  transform: scale(1.1) rotate(4deg);
}

.btn-d:hover,
.btn-d:focus,
.btn-d:active {
  transform: scale(1.1) rotate(-4deg);
}

.btn-e:hover,
.btn-e:focus,
.btn-e:active {
  transform: scale(1.1) rotate(4deg);
}

.btn:active {
  transform: scale(1.2);
}

@font-face {
  font-family: "Domaine Sans Text";
  src: url(/domaine-sans-text-web-medium.woff2) format("woff2");
}

.bg-cover {
  background-size: cover;
}

.bg-portrait {
  background-position: center top;
  padding-top: 60%;
}

.HomepageBackground {
  background-size: 100%;
  height: calc(100vh - var(--nav-bar-height));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 bottom 0;
  position: relative;
  transition: margin-top 750ms ease 0s;
  margin-top: calc(-100vh + var(--nav-bar-height));
}

.HomepageBackground.HomepageIsCurrent,
.HomepageBackground.HomepageIsLoaded {
  background-image: url("/main_crop@0.5x.webp");
}

:root {
  --nav-bar-height: 85px;
  --headline-font: "Domaine Sans Text", sans-serif;
  --yellow: #faff98;
  --purple: #d0abc5;
  --salmon: #f0999e;
  --green: #8bdad5;
  --blue: #89aee0;
  --dark-blue: #6b8fbf;
  --hpPurple: rgb(59, 59, 104);
}

.MaxWidth {
  max-width: 60rem;
  margin: 0 auto;
}

.nav {
  height: var(--nav-bar-height);
}

body {
  transition: all 600ms ease 0s;
}

.HomepageIsCurrent {
  margin-top: 0;
}

.about {
  @apply bg-green;
  height: 45vh;
  text-align: center;
  padding: 80px;
}

.btn {
  @apply bg-white px-4 border border-black border-double rounded-md transition text-sm justify-self-end flex items-center;
}

@tailwind utilities;
